body { display: none; }

body, html {
    height: 100%;
    margin:0;
}



.background {
     /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../img/piano.jpg");
  height: 100%;
 
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
    .logo-area { 
        width: 250px; 
        height: 100px; 
         
        position: fixed; 
        left: 50%; 
        top: 0; 
        content: ""; 
        margin-left: -125px;
        margin-top: 20px;
    }

  .inner-main-menu {   
    width: 80%;
    position: fixed; 
    
    top: 0; 
    content: ""; 
    margin-left: 7.85%;
    margin-top: 20px;}

  .inner-main-menu ul {margin: 0; padding-top: 40px; list-style: none; text-align: right; z-index: 200;}

  .inner-main-menu ul li{float: none; display: inline-block;}
  .inner-main-menu ul li:nth-child(1){float: left;}
  .inner-main-menu ul li:nth-child(2){float: left;}
 

  .inner-main-menu ul li a{font-family: 'Cinzel', serif; font-size: 20px; color: whitesmoke; padding: 10px 20px; text-decoration: none;}

  .inner-main-menu ul li a:hover{color: slategray;}

   
 
    