body { display: none; }

html,
body,
header,
#intro {
    height: 100%;
}

    .logo-area { 
        width: 250px; 
        height: 100px; 
         
        position: relative; 
        left: 50%; 
        top: 0; 
        content: ""; 
        margin-left: -125px;
        margin-top: 20px;
    }

  
  .inner-main-menu {position: fixed;margin-left: -5%; margin-top: -65px; width: 1170px;  position: relative;}

  .inner-main-menu ul {margin-top: 0; list-style: none; text-align: right; }

  .inner-main-menu ul li{float: none; display: inline-block;}
  .inner-main-menu ul li:nth-child(1){float: left;}
  .inner-main-menu ul li:nth-child(2){float: left;}
 

  .inner-main-menu ul li a{font-family: 'Cinzel', serif; font-size: 20px; color: rgb(54, 54, 54); padding: 10px 20px; text-decoration: none;}

  .inner-main-menu ul li a:hover{color: slategray;}

#header {
    position: relative;
    z-index: 2;
    
}
 


.gallery {
    z-index: 3;
    margin-top: 40px;
    margin-left: 12.5%;
    position: absolute;
}

.gallery img {
    transition: .25s;
} 

.gallery img:hover {
    transform: scale(1.015);
}

.gallerybox {
    height: 800px;
    width: 80%;
    z-index: 3;
    margin-top: 100px;
    margin-left: 10%;
    position: absolute;
}
.titles {
  font-family: 'Cinzel', serif;
  text-align: center;
}


html{
    overflow: scroll;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .gallery {
      position: absolute;
      margin-top: 180px;
      margin-left: -3%;
      z-index: 1;
    }

    .slicknav_menu {
      position: relative;
    }
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

    .slicknav_menu {
      position: relative;
    }
  }

  






